{% extends "base.html" %}
{% include "components.html" %}

{% block title %}Dashboard – Anmak Solar CRM{% endblock %}

{% block content %}
  <h1>Welcome, {{ user.first_name }} !</h1>
  <p>Here are your key metrics:</p>
  <!-- perhaps a grid of KPI cards here -->

<!-- <iframe
  src="https://superset.anmaksolar.com/superset/dashboard/39bdaf82-5576-4e53-8630-ad55ad5f4026/?permalink_key=GamoEAkDP0W"
  width="100%"
  height="600"
  frameborder="0"
></iframe> --> 

<iframe
  src="https://superset.anmaksolar.com/superset/dashboard/39bdaf82-5576-4e53-8630-ad55ad5f4026/?permalink_key=GamoEAkDP0W&standalone=1"
  width="100%"
  height="700"
  frameborder="0"
></iframe>

{% endblock %}